<head>
    <!--
    ght        kgt    0k0      078
    a8P        aa;    1u8c     yjr
    jki        88!    my4cv    g06
    89u        rkt    mvrghl   gll
    fkj        ekt    mzx flg  hkn
    hpp		   78f    g0o  flb g;h
    hjc        69g    9ms   fmlg;l
    8Pc        88m    to9    hkugo
    "8b,       aa,    fjn     69ji
     ` "Ybbd8"'       c8g      u37
    -->
            <!--meta-->
            <meta charset="utf-8" />
            <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
            <meta name="title" content="CB Digital | Thirty Years in Tech" />
            <meta name="description" content="CB Digital provide simple, easy to use integrated Audio-Visual systems that include Communications, Network &amp; IT, Intelligent Lighting, Control, Automation and Home Cinema "/>
            <meta name="keywords" content="Audio-Visual, Communications, Network &amp; IT, Intelligent Lighting, Control, Automation, Home Cinema "/>
    
            <meta name="google-site-verification" content="" />
    
            <!-- title -->
            <title>Thirty Years in Tech &raquo; CB Digital</title>
            <!--<title>{% if page.title %}{{ page.title | escape }}{% else %}{{ site.title | escape }}{% endif %}</title>-->
    
            <!-- Favicon -->
            <link rel="icon" type="./img/svg" href="./img/cb-wh-new.svg" sizes="128x128">
            <link rel="icon" type="./img/svg" href="./img/cb-wh-new.svg" sizes="96x96">
            <link rel="icon" type="./img/svg" href="./img/cb-wh-new.svg" sizes="64x64">
            <link rel="icon" type="./img/svg" href="./img/cb-wh-new.svg" sizes="28x28">
    
            <!-- Custom CSS -->
            <link rel="stylesheet" href="{{ "/css/custom.css" | prepend: site.baseurl }}" />
            <link rel="stylesheet" href="{{ "/css/bootstrap.css" | prepend: site.baseurl }}" />
    
            <!-- Bootstrap 4.4.1 CDN -->
            <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    
            <!-- AOS fade CSS -->
            <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
        
            <!-- canonical-->
            <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
    
            <!-- fonts -->
            <!--<link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">-->
            <link href="https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap" rel="stylesheet"> 
    
            <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    
            <!--Meta-->
            <meta name="robots" content="max-snippet:-1, max-image-preview:large, max-video-preview:-1"/>
            <link rel="canonical" href="https://thatviz.com" />
            <meta property="og:locale" content="en_US" />
            <meta property="og:type" content="website" />
            <meta property="og:title" content="Home" />
            <meta property="og:description" content="CB" />
            <meta property="og:site_name" content="CB" />
            <meta name="twitter:card" content="summary_large_image" />
            <meta name="twitter:description" content="" />
            <meta name="twitter:title" content="" />
            <meta name="twitter:image" content="" />
    
            <!-- jQuery 1.7 CDN-->
            <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7/jquery.min.js"></script>
    
            <!--Google analytics code-->
            <!--<script>
              (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
              (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
              m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
              })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
    
              ga('create', 'UA-46668333-1', 'auto');
              ga('send', 'pageview');
            </script>-->
            <!--Google analytics code end-->
        </head>
        <body>